/* estilo inicial */

body {background-color: #F2F2F2}

.sombra {
    background-color: white;
    box-shadow: 0 1px 0 0 #0080ff;
}


/* estilo do titulo */
.titulo {

    font-size: 0.8rem;
    margin-left: 8%;
    margin-right: auto;
}

/* cor da aba */
.tabs .indicator {background-color: white}

/* fixo no topo */
.topo-fixo {

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.main-menu {
    text-align: center;
    margin-top: 8%;
}
 
.div-confirma {

    text-align: center;
    margin-top: 3%;   
}

.btn {

    font-size: 0.6rem;
    font-weight: bold;
    margin-top: 4%;
}

.mostracoord {

    font-size: 1rem;
    font-weight: bold;
    font-family: "Roboto", sans-serif;

}

.login {

    text-align: center;
    margin-top:20%;
}

.row  {

    text-align: center;
    margin-top:20%;
}

.desaparece {display: none}

[type="radio"].with-gap:checked+label:before{
    background-color: #0080ff;
}

[type="radio"].with-gap:checked+label:before{
    background-color: white;
    border: 2px solid #0D47A1;
}

[type="radio"].with-gap:checked+label:after{
    background-color: #0080ff;
    
}


[type="radio"].with-gap.tipoEst:checked+label:before{
    background-color: #fff !important;
}

[type="radio"].with-gap.tipoEst:checked+label:before{
    background-color: white;
    border: 2px solid #F44336 !important;
}

[type="radio"].with-gap.tipoEst:checked+label:after{
    background-color: #F44336 !important;
}


input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid #0080ff;
  box-shadow: 0 1px 0 0 #0080ff;    
}



/*
}*/

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #0080ff;
}


input:not([type]).valid, input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid  {
  border-bottom: 1px solid #0080ff;
  box-shadow: 0 1px 0 0 #0080ff;
}

td label{
    color: #0080ff;
}

[type="checkbox"]:checked + label:before {

  border-right: 2px solid #0D47A1;
  border-bottom: 2px solid #0D47A1
}


#montaPop{
    margin: 3% auto 3% 5%;
}

.msgBox{
    margin-top: 8%;
}

#os{
    margin-top: 5%;
}

.estoque{
    margin-top: 7%;
}

.os{
    padding: 10px;
}

.rodape {
    bottom: 0;
    position: fixed;
    width: 100%;
}

/*.spinner{
    width: 80px;
    height: 80px;
    
    border: 2px solid #f3f3f3;
    border-top:3px solid #f25a41;
    border-radius: 100%;
   
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    
    animation: spin 1s infinite linear;
    background: url('/img/Preloader.gif') center no-repeat;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}

#overlay{
  height:100%;
  width:100%;
  background:rgba(0, 0, 0, 1);
  position:fixed;
  left:0;
  top:0;
  z-index: 1002;
  display: none;
 }*/

 #loader-wrapper {
    background:rgba(255, 255, 255, 1);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: none;
    /*display: block;*/
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

.overlay {
    //color: white;
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1200;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    overflow-y: hidden;
    //transition: 0.2s;
}

.overlay-content {
    shape-margin: 0;
    position: relative;
    width: 95%;
    z-index: 1200;
}

.overlay a{
    bottom: 2px;
    right: 0; 
}


.wrapper {
    position: relative;
    width: 600px;
    height: 300px;
    user-select: none;
        -moz-user-select: none;
            -webkit-user-select: none;
                -ms-user-select: none;
    
}

.signature-pad {
  left: 0;
  top: 0;
  width:600px;
  height:300px;
}


/*
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}*/
